// .example-container {
//     // height: 300px;
//   }

  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .container {
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
  }